blueprint-2.json
{
    "name": "Lead magnet automation",
    "flow": [
        {
            "id": 2,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appT8Q98V8aiYpEp7",
                "view": "viwr7lNGqn0kXiL7W",
                "table": "tbl5OGoDxKRaQkbju",
                "config": {
                    "labelField": "Name",
                    "triggerField": "Created time"
                },
                "formula": "",
                "maxRecords": 10,
                "__IMTCONN__": 2175680,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Lead Magnet "
                        },
                        "view": {
                            "label": "Grid view"
                        },
                        "table": {
                            "label": "Lead"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Name"
                                },
                                "triggerField": {
                                    "label": "Created time"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Company Name",
                        "type": "text",
                        "label": "Company Name"
                    },
                    {
                        "name": "Company URL",
                        "type": "text",
                        "label": "Company URL"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "Team size",
                        "type": "text",
                        "label": "Team size"
                    },
                    {
                        "name": "Company desc",
                        "type": "text",
                        "label": "Company desc",
                        "multiline": true
                    },
                    {
                        "name": "Challenges faced",
                        "type": "text",
                        "label": "Challenges faced",
                        "multiline": true
                    },
                    {
                        "name": "Softwares used",
                        "type": "text",
                        "label": "Softwares used",
                        "multiline": true
                    },
                    {
                        "name": "Automations asked",
                        "type": "text",
                        "label": "Automations asked",
                        "multiline": true
                    },
                    {
                        "name": "Call Booked?",
                        "type": "text",
                        "label": "Call Booked?"
                    },
                    {
                        "name": "Created time",
                        "type": "date",
                        "label": "Created time"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2175910
            },
            "mapper": {
                "model": "gpt-4o",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are an expert AI Automation consultant with 10+ years of experience. You will be given some information about a potential client. Give 5 automation ideas as well as steps to implement them. "
                    },
                    {
                        "role": "user",
                        "content": "Using the information available, give 5 automation ideas in JSON. Ensure to include all of the following variables:\n1. A1\n2. A2\n3. A3\n4. A4\n5. A5\n6. P1\n7. P2\n8. P3\n9. P4\n10. P5\n11. S1\n12. S2\n13. S3\n14. S4\n15. S5\n16. A1S1\n17. A1S2\n18. A1S3\n19. A1S4\n20. A1S5\n21. A2S1\n22. A2S2\n23. A2S3\n24. A2S4\n25. A2S5\n26. A3S1\n27. A3S2\n28. A3S3\n29. A3S4\n30. A3S5\n31. A4S1\n32. A4S2\n33. A4S3\n34. A4S4\n35. A4S5\n36. A5S1\n37. A5S2\n38. A5S3\n39. A5S4\n40. A5S5\n​"
                    },
                    {
                        "role": "user",
                        "content": "{\"Industry\": \"Car dealership\", \"Team Size\": \"10-20\", \"Company Description\": \"Specializes in offering used luxury cars, detailing services, multiple financing options, and selling cars on behalf of customers\", \"Challenges faced\": \"Sales decline, customer follow-up, team management\", \"Softwares used\": \"Whatsapp, visitor chat\", \"Automations preferred \": \"Customer follow-ups, test drives\"}"
                    },
                    {
                        "role": "assistant",
                        "content": "{\n  \"A1\": \"Automated Customer Follow-ups\",\n  \"A2\": \"Automated Test Drive Scheduling\",\n  \"A3\": \"Lead Management Automation\",\n  \"A4\": \"Inventory Management System\",\n  \"A5\": \"Team Task Management Automation\",\n  \"P1\": \"Problem: Customer follow-up is disorganized leading to potential sales loss.\",\n  \"P2\": \"Problem: Manual scheduling of test drives is time-consuming and error-prone.\",\n  \"P3\": \"Problem: Difficulty in tracking and managing leads efficiently.\",\n  \"P4\": \"Problem: Improper inventory management leading to stock issues.\",\n  \"P5\": \"Problem: Inefficiency in team management and task delegation\",\n  \"S1\": \"Solution: Implement an automated drip email and SMS campaign for customers who inquire about cars.\",\n  \"S2\": \"Solution: Implement an online scheduling tool with automated reminders.\",\n  \"S3\": \"Solution: Implement a lead management tool that automates the process of capturing, scoring, and assigning leads.\",\n  \"S4\": \"Solution: Automate inventory tracking and notifications.\",\n  \"S5\": \"Solution: Implement a task management and collaboration tool.\",\n  \"A1S1\": \"Select CRM Software: Choose a CRM system that supports automated follow-ups like HubSpot or Zoho CRM.\",\n  \"A1S2\": \"Integrate Existing Tools: Connect the CRM with WhatsApp using a third-party tool like Zapier.\",\n  \"A1S3\": \"Segment Customer List: Segment customers based on inquiries, test drives, and past purchases.\",\n  \"A1S4\": \"Create Drip Campaigns: Develop sequences of automated emails and SMS messages to engage customers at different stages of the buying process.\",\n  \"A1S5\": \"Monitor and Optimize: Track the performance of these campaigns and make necessary adjustments for better engagement.\",\n  \"A2S1\": \"Choose a Scheduling Tool: Use tools like Calendly or Acuity Scheduling.\",\n  \"A2S2\": \"Integrate with Website: Embed the scheduling tool on your website and link it to visitor chat.\",\n  \"A2S3\": \"Automated Reminders: Configure the tool to send automated SMS and email reminders to both customers and sales team.\",\n  \"A2S4\": \"Calendar Sync: Sync the tool with team calendars to avoid scheduling conflicts.\",\n  \"A2S5\": \"Customer Instructions: Add a confirmation email with instructions and what to bring for the test drive.\",\n  \"A3S1\": \"Select Lead Management Software: Choose tools like Salesforce or Pipedrive.\",\n  \"A3S2\": \"Data Capture: Integrate lead forms with CRM system to capture lead information automatically.\",\n  \"A3S3\": \"Lead Scoring: Set criteria for automatic lead scoring based on customer interactions and inquiries.\",\n  \"A3S4\": \"Automated Assignment: Automatically assign leads to sales representatives based on predefined rules.\",\n  \"A3S5\": \"Follow-up Tracking: Use the CRM to automatically track follow-up activities and provide reminders.\",\n  \"A4S1\": \"Choose an Inventory Software: Opt for tools like Cin7 or TradeGecko.\",\n  \"A4S2\": \"Data Input: Input all current inventory data into the system.\",\n  \"A4S3\": \"Integration: Connect the inventory system with your existing CRM and website.\",\n  \"A4S4\": \"Automated Alerts: Set up automated notifications for low stock levels and new arrivals.\",\n  \"A4S5\": \"Reports: Generate automated reports for inventory levels to help in decision making.\",\n  \"A5S1\": \"Select a Tool: Use tools like Asana or Trello.\",\n  \"A5S2\": \"Create Workflows: Develop workflows for different processes like sales, customer follow-ups, and detailing services.\",\n  \"A5S3\": \"Assign Tasks: Automatically assign tasks to team members based on their roles and workload.\",\n  \"A5S4\": \"Set Deadlines and Reminders: Configure automatic deadlines and reminders for important tasks.\",\n  \"A5S5\": \"Monitor Progress: Use dashboards to monitor task progress and team performance.\"\n}\n​"
                    },
                    {
                        "role": "user",
                        "content": "{\"Industry\": “Steel structure construction”, \"Team Size\": “20-30\", \"Company Description\": “We build steel structures, or part of it for you or produce an adaptation to an existing one for buildings.”, \"Challenges faced\": “Website traffic, customer follow-up, team management\", \"Softwares used\": \"Whatsapp, web flow”, \"Automations preferred \": \"Customer follow-ups\"}"
                    },
                    {
                        "role": "assistant",
                        "content": "{\n  \"A1\": \"Automated Customer Follow-ups\",\n  \"A2\": “Website Traffic and Lead Capture Automation”,\n  \"A3\": \"Lead Management Automation\",\n  \"A4\": \"Project Management and Collaboration\",\n  \"A5\": \"Automated Customer Feedback Collection\",\n  \"P1\": \"Problem: Disorganized customer follow-up leads to potential project loss..\",\n  \"P2\": \"Problem: Insufficient website traffic and lead capture..\",\n  \"P3\": \"Problem: Difficulty in tracking and managing leads efficiently.\",\n  \"P4\": \"Problem: Inefficiency in project management and team collaboration.\",\n  \"P5\": \"Problem: Lack of structured feedback from customers after project completion\",\n  \"S1\": \"Solution: Implement an automated email and SMS follow-up system for customers who inquire about services.\",\n  \"S2\": \"Solution: Implement tools for driving website traffic and capturing leads effectively.\",\n  \"S3\": \"Solution: Implement a lead management tool that automates the process of capturing, scoring, and assigning leads.\",\n  \"S4\": \"Solution: Implement a project management tool to streamline tasks and enhance collaboration.\",\n  \"S5\": \"Solution: Implement an automated system for collecting and analyzing customer feedback\",\n  \"A1S1\": \"Select CRM Software: Choose a CRM system that supports automated follow-ups like HubSpot or Zoho CRM\",\n  \"A1S2\": \"Integrate Existing Tools: Connect the CRM with WhatsApp using a third-party tool like Zapier.\",\n  \"A1S3\": \"Segment Customer List: Segment customers based on inquiries, test drives, and past purchases.\",\n  \"A1S4\": \"Create Drip Campaigns: Develop sequences of automated emails and SMS messages to engage customers at different stages of the buying process.\",\n  \"A1S5\": \"Monitor and Optimize: Track the performance of these campaigns and make necessary adjustments for better engagement.\",\n  \"A2S1\": \"SEO and Content Marketing: Use tools like SEMrush for SEO optimization and content planning..\",\n  \"A2S2\": \"Lead Capture Forms: Integrate lead capture forms on your Webflow site using tools like HubSpot or Typeform.\",\n  \"A2S3\": \"Lead Magnets: Offer downloadable content (e.g., guides, whitepapers) to encourage visitors to leave their contact details.\",\n  \"A2S4\": \"Automated Follow-ups: Automatically follow up with captured leads using email and SMS campaigns.\",\n  \"A2S5\": \"Analytics: Use Google Analytics and Webflow's built-in analytics to monitor traffic and conversion rates.\",\n  \"A3S1\": \"Select Lead Management Software: Choose tools like Salesforce or Pipedrive.\",\n  \"A3S2\": \"Data Capture: Integrate lead forms with CRM system to capture lead information automatically.\",\n  \"A3S3\": \"Lead Scoring: Set criteria for automatic lead scoring based on customer interactions and inquiries.\",\n  \"A3S4\": \"Automated Assignment: Automatically assign leads to sales representatives based on predefined rules.\",\n  \"A3S5\": \"Follow-up Tracking: Use the CRM to automatically track follow-up activities and provide reminders.\",\n  \"A4S1\": \"Select a Tool: Use tools like Asana or Monday.com.\",\n  \"A4S2\": \"Create Project Workflows: Develop workflows for different projects and tasks, from initial consultation to project completion.\",\n  \"A4S3\": \"Assign Tasks: Automatically assign tasks to team members based on their roles and workload.\",\n  \"A4S4\": \"Set Deadlines and Reminders: Configure automatic deadlines and reminders for important tasks.\",\n  \"A4S5\": \"Monitor Progress: Use dashboards to monitor project progress and team performance.\",\n  \"A5S1\": \"Choose a Feedback Tool: Use tools like SurveyMonkey or Typeform for feedback collection\",\n  \"A5S2\": \"Integrate with CRM: Connect the feedback tool with your CRM to store and analyze responses.\",\n  \"A5S3\": \"Automate Feedback Requests: Set up automated email or SMS requests for feedback after project milestones or completion.\",\n  \"A5S4\": \"Analyze Feedback: Use analytics tools to gather insights from the feedback for continuous improvement.\",\n  \"A5S5\": \"Follow-up: Automate thank you messages and follow-up actions based on feedback received.\"\n}\n​"
                    },
                    {
                        "role": "user",
                        "content": "{\"Industry\": “{{2.Industry}}”, \"Team Size\": “{{2.`Team size`}}\", \"Company Description\": “{{2.`Company desc`}}”, \"Challenges faced\": “{{2.`Challenges faced`}}\", \"Softwares used\": \"{{2.`Softwares used`}}”, \"Automations preferred \": \"{{2.`Automations asked`}}\"}"
                    }
                ],
                "max_tokens": "4096",
                "temperature": "0.7",
                "n_completions": "1",
                "response_format": "json_object"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Assistant"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{3.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "google-slides:createPresentation",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1611924
            },
            "mapper": {
                "from": "drive",
                "title": "5 Automations for ",
                "select": "value",
                "shared": false,
                "folderId": null,
                "requests": {
                    "A1": "{{4.A1}}",
                    "A2": "{{4.A2}}",
                    "A3": "{{4.A3}}",
                    "A4": "{{4.A4}}",
                    "A5": "{{4.A5}}",
                    "P1": "{{4.P1}}",
                    "P2": "{{4.P2}}",
                    "P3": "{{4.P3}}",
                    "P4": "{{4.P4}}",
                    "P5": "{{4.P5}}",
                    "S1": "{{4.S1}}",
                    "S2": "{{4.S2}}",
                    "S3": "{{4.S3}}",
                    "S4": "{{4.S4}}",
                    "S5": "{{4.S5}}",
                    "A1S1": "{{4.A1S1}}",
                    "A1S2": "{{4.A1S2}}",
                    "A1S3": "{{4.A1S3}}",
                    "A1S4": "{{4.A1S4}}",
                    "A1S5": "{{4.A1S5}}",
                    "A2S1": "{{4.A2S1}}",
                    "A2S2": "{{4.A2S2}}",
                    "A2S3": "{{4.A2S3}}",
                    "A2S4": "{{4.A2S4}}",
                    "A2S5": "{{4.A2S5}}",
                    "A3S1": "{{4.A3S1}}",
                    "A3S2": "{{4.A3S2}}",
                    "A3S3": "{{4.A3S3}}",
                    "A3S4": "{{4.A3S4}}",
                    "A3S5": "{{4.A3S5}}",
                    "A4S1": "{{4.A4S1}}",
                    "A4S2": "{{4.A4S2}}",
                    "A4S3": "{{4.A4S3}}",
                    "A4S4": "{{4.A4S4}}",
                    "A4S5": "{{4.A4S5}}",
                    "A5S1": "{{4.A5S1}}",
                    "A5S2": "{{4.A5S2}}",
                    "A5S3": "{{4.A5S3}}",
                    "A5S4": "{{4.A5S4}}",
                    "A5S5": "{{4.A5S5}}",
                    "companyName": "{{2.`Company Name`}}"
                },
                "destination": "drive",
                "presentation": "/15gMbWwVTGBD-zHJo3pKYuAjnziY4oNwdEFoEq6MTyEk"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "By Dropdown"
                        },
                        "shared": {
                            "mode": "chose"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": []
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "presentation": {
                            "path": [
                                "Copy of Minimalist Business Slides XL by Slidesgo"
                            ],
                            "nested": [
                                {
                                    "name": "requests",
                                    "spec": [
                                        {
                                            "name": "companyName",
                                            "type": "text",
                                            "label": "companyName"
                                        },
                                        {
                                            "name": "A1",
                                            "type": "text",
                                            "label": "A1"
                                        },
                                        {
                                            "name": "A2",
                                            "type": "text",
                                            "label": "A2"
                                        },
                                        {
                                            "name": "A3",
                                            "type": "text",
                                            "label": "A3"
                                        },
                                        {
                                            "name": "A4",
                                            "type": "text",
                                            "label": "A4"
                                        },
                                        {
                                            "name": "A5",
                                            "type": "text",
                                            "label": "A5"
                                        },
                                        {
                                            "name": "P1",
                                            "type": "text",
                                            "label": "P1"
                                        },
                                        {
                                            "name": "S1",
                                            "type": "text",
                                            "label": "S1"
                                        },
                                        {
                                            "name": "A1S1",
                                            "type": "text",
                                            "label": "A1S1"
                                        },
                                        {
                                            "name": "A1S2",
                                            "type": "text",
                                            "label": "A1S2"
                                        },
                                        {
                                            "name": "A1S3",
                                            "type": "text",
                                            "label": "A1S3"
                                        },
                                        {
                                            "name": "A1S4",
                                            "type": "text",
                                            "label": "A1S4"
                                        },
                                        {
                                            "name": "A1S5",
                                            "type": "text",
                                            "label": "A1S5"
                                        },
                                        {
                                            "name": "P2",
                                            "type": "text",
                                            "label": "P2"
                                        },
                                        {
                                            "name": "S2",
                                            "type": "text",
                                            "label": "S2"
                                        },
                                        {
                                            "name": "A2S1",
                                            "type": "text",
                                            "label": "A2S1"
                                        },
                                        {
                                            "name": "A2S2",
                                            "type": "text",
                                            "label": "A2S2"
                                        },
                                        {
                                            "name": "A2S3",
                                            "type": "text",
                                            "label": "A2S3"
                                        },
                                        {
                                            "name": "A2S4",
                                            "type": "text",
                                            "label": "A2S4"
                                        },
                                        {
                                            "name": "A2S5",
                                            "type": "text",
                                            "label": "A2S5"
                                        },
                                        {
                                            "name": "P3",
                                            "type": "text",
                                            "label": "P3"
                                        },
                                        {
                                            "name": "S3",
                                            "type": "text",
                                            "label": "S3"
                                        },
                                        {
                                            "name": "A3S1",
                                            "type": "text",
                                            "label": "A3S1"
                                        },
                                        {
                                            "name": "A3S2",
                                            "type": "text",
                                            "label": "A3S2"
                                        },
                                        {
                                            "name": "A3S3",
                                            "type": "text",
                                            "label": "A3S3"
                                        },
                                        {
                                            "name": "A3S4",
                                            "type": "text",
                                            "label": "A3S4"
                                        },
                                        {
                                            "name": "A3S5",
                                            "type": "text",
                                            "label": "A3S5"
                                        },
                                        {
                                            "name": "P4",
                                            "type": "text",
                                            "label": "P4"
                                        },
                                        {
                                            "name": "S4",
                                            "type": "text",
                                            "label": "S4"
                                        },
                                        {
                                            "name": "A4S1",
                                            "type": "text",
                                            "label": "A4S1"
                                        },
                                        {
                                            "name": "A4S2",
                                            "type": "text",
                                            "label": "A4S2"
                                        },
                                        {
                                            "name": "A4S3",
                                            "type": "text",
                                            "label": "A4S3"
                                        },
                                        {
                                            "name": "A4S4",
                                            "type": "text",
                                            "label": "A4S4"
                                        },
                                        {
                                            "name": "A4S5",
                                            "type": "text",
                                            "label": "A4S5"
                                        },
                                        {
                                            "name": "P5",
                                            "type": "text",
                                            "label": "P5"
                                        },
                                        {
                                            "name": "S5",
                                            "type": "text",
                                            "label": "S5"
                                        },
                                        {
                                            "name": "A5S1",
                                            "type": "text",
                                            "label": "A5S1"
                                        },
                                        {
                                            "name": "A5S2",
                                            "type": "text",
                                            "label": "A5S2"
                                        },
                                        {
                                            "name": "A5S3",
                                            "type": "text",
                                            "label": "A5S3"
                                        },
                                        {
                                            "name": "A5S4",
                                            "type": "text",
                                            "label": "A5S4"
                                        },
                                        {
                                            "name": "A5S5",
                                            "type": "text",
                                            "label": "A5S5"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (kraiyan991@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Copy a Presentation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "shared",
                        "type": "boolean",
                        "label": "Shared",
                        "required": true
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "presentation",
                        "type": "file",
                        "label": "Presentation ID",
                        "required": true
                    },
                    {
                        "name": "requests",
                        "spec": [
                            {
                                "name": "companyName",
                                "type": "text"
                            },
                            {
                                "name": "A1",
                                "type": "text"
                            },
                            {
                                "name": "A2",
                                "type": "text"
                            },
                            {
                                "name": "A3",
                                "type": "text"
                            },
                            {
                                "name": "A4",
                                "type": "text"
                            },
                            {
                                "name": "A5",
                                "type": "text"
                            },
                            {
                                "name": "P1",
                                "type": "text"
                            },
                            {
                                "name": "S1",
                                "type": "text"
                            },
                            {
                                "name": "A1S1",
                                "type": "text"
                            },
                            {
                                "name": "A1S2",
                                "type": "text"
                            },
                            {
                                "name": "A1S3",
                                "type": "text"
                            },
                            {
                                "name": "A1S4",
                                "type": "text"
                            },
                            {
                                "name": "A1S5",
                                "type": "text"
                            },
                            {
                                "name": "P2",
                                "type": "text"
                            },
                            {
                                "name": "S2",
                                "type": "text"
                            },
                            {
                                "name": "A2S1",
                                "type": "text"
                            },
                            {
                                "name": "A2S2",
                                "type": "text"
                            },
                            {
                                "name": "A2S3",
                                "type": "text"
                            },
                            {
                                "name": "A2S4",
                                "type": "text"
                            },
                            {
                                "name": "A2S5",
                                "type": "text"
                            },
                            {
                                "name": "P3",
                                "type": "text"
                            },
                            {
                                "name": "S3",
                                "type": "text"
                            },
                            {
                                "name": "A3S1",
                                "type": "text"
                            },
                            {
                                "name": "A3S2",
                                "type": "text"
                            },
                            {
                                "name": "A3S3",
                                "type": "text"
                            },
                            {
                                "name": "A3S4",
                                "type": "text"
                            },
                            {
                                "name": "A3S5",
                                "type": "text"
                            },
                            {
                                "name": "P4",
                                "type": "text"
                            },
                            {
                                "name": "S4",
                                "type": "text"
                            },
                            {
                                "name": "A4S1",
                                "type": "text"
                            },
                            {
                                "name": "A4S2",
                                "type": "text"
                            },
                            {
                                "name": "A4S3",
                                "type": "text"
                            },
                            {
                                "name": "A4S4",
                                "type": "text"
                            },
                            {
                                "name": "A4S5",
                                "type": "text"
                            },
                            {
                                "name": "P5",
                                "type": "text"
                            },
                            {
                                "name": "S5",
                                "type": "text"
                            },
                            {
                                "name": "A5S1",
                                "type": "text"
                            },
                            {
                                "name": "A5S2",
                                "type": "text"
                            },
                            {
                                "name": "A5S3",
                                "type": "text"
                            },
                            {
                                "name": "A5S4",
                                "type": "text"
                            },
                            {
                                "name": "A5S5",
                                "type": "text"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 2201983,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{2.Email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "Hey there {{2.Name}},<br></br>\nHere is the link for the automations : <br></br>\nhttps://docs.google.com/presentation/d/{{1.id}}/edit?usp=sharing\"",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Here are the automations as promised",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "smtp"
                            },
                            "label": "raiyan@biggbot.com (SMTP raiyan@biggbot.com)"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2175680
            },
            "mapper": {
                "id": "{{2.id}}",
                "base": "appT8Q98V8aiYpEp7",
                "table": "tbl5OGoDxKRaQkbju",
                "record": {
                    "fldKrmNyTCuNHTIvu": "Lead Magnet sent"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Lead Magnet "
                        },
                        "table": {
                            "label": "Lead"
                        },
                        "record": {
                            "nested": {
                                "fldKrmNyTCuNHTIvu": {
                                    "mode": "chose",
                                    "label": "Lead Magnet sent"
                                },
                                "fldrCqOw8rVJB3iVv": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldDudJ7kBml10iSN",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fldmTK9KbIddGvpFE",
                                "type": "text",
                                "label": "Company Name"
                            },
                            {
                                "name": "fld4N27fZvqeuRBbo",
                                "type": "text",
                                "label": "Company URL"
                            },
                            {
                                "name": "fld4nVHdUsgwLmucN",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "mode": "edit",
                                "name": "fldKrmNyTCuNHTIvu",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldslVbZpzbDsBjat",
                                "type": "text",
                                "label": "Industry"
                            },
                            {
                                "name": "fldtc2QOkuj6AIYu7",
                                "type": "text",
                                "label": "Team size"
                            },
                            {
                                "name": "fldcrxkg0g5TaS30x",
                                "type": "text",
                                "label": "Company desc"
                            },
                            {
                                "name": "fldsc7xUExcGWQDk2",
                                "type": "text",
                                "label": "Challenges faced"
                            },
                            {
                                "name": "fld4h8zKeSajtCgOU",
                                "type": "text",
                                "label": "Softwares used"
                            },
                            {
                                "name": "fldPYTQ7NHNprWTNT",
                                "type": "text",
                                "label": "Automations asked"
                            },
                            {
                                "mode": "edit",
                                "name": "fldrCqOw8rVJB3iVv",
                                "type": "select",
                                "label": "Call Booked?"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Company Name",
                        "type": "text",
                        "label": "Company Name"
                    },
                    {
                        "name": "Company URL",
                        "type": "text",
                        "label": "Company URL"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Industry",
                        "type": "text",
                        "label": "Industry"
                    },
                    {
                        "name": "Team size",
                        "type": "text",
                        "label": "Team size"
                    },
                    {
                        "name": "Company desc",
                        "type": "text",
                        "label": "Company desc",
                        "multiline": true
                    },
                    {
                        "name": "Challenges faced",
                        "type": "text",
                        "label": "Challenges faced",
                        "multiline": true
                    },
                    {
                        "name": "Softwares used",
                        "type": "text",
                        "label": "Softwares used",
                        "multiline": true
                    },
                    {
                        "name": "Automations asked",
                        "type": "text",
                        "label": "Automations asked",
                        "multiline": true
                    },
                    {
                        "name": "Call Booked?",
                        "type": "text",
                        "label": "Call Booked?"
                    },
                    {
                        "name": "Created time",
                        "type": "date",
                        "label": "Created time"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "document url",
                "scope": "roundtrip",
                "value": "https://docs.google.com/presentation/d/{{1.id}}/edit?usp=share"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "document url",
                        "type": "any",
                        "label": "document url"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2175680
            },
            "mapper": {
                "base": "appT8Q98V8aiYpEp7",
                "table": "tblfEwJ0DNla3PMBK",
                "record": {
                    "fldFlYf56Hn6LiGuR": "{{2.Email}}",
                    "fldQR1vMSogfByObi": "{{2.Name}}",
                    "fldpUBxPGIpGF5DZ1": "{{9.`document url`}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Lead Magnet "
                        },
                        "table": {
                            "label": "Lead magnet document",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldQR1vMSogfByObi",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "fldFlYf56Hn6LiGuR",
                                            "type": "text",
                                            "label": "Email"
                                        },
                                        {
                                            "name": "fldpUBxPGIpGF5DZ1",
                                            "type": "text",
                                            "label": "Document sent"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldQR1vMSogfByObi",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "fldFlYf56Hn6LiGuR",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldpUBxPGIpGF5DZ1",
                                "type": "text",
                                "label": "Document sent"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Document sent",
                        "type": "text",
                        "label": "Document sent"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}